name: Validate

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: false

      - name: Go mod download
        run: go mod download

      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --timeout=10m

      - name: Build
        run: |
          set -euo pipefail

          mkdir -p ./dist
          go build -o ./dist -v .

  generate:
    name: Generate
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: tools/go.mod
          cache: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: latest
          terraform_wrapper: false

      - name: Generate
        working-directory: ./tools
        run: |
          set -euo pipefail

          go mod download
          go generate ./...

      - name: Check diff
        run: |
          set -euo pipefail

          if [[ -n "$(git status --porcelain)" ]]; then
            echo "::error::Unexpected difference in directories after code generation. Run 'go generate ./...' command and commit."
            exit 1
          fi

  matrix:
    name: Matrix
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash
    outputs:
      tf_versions: ${{ steps.setup.outputs.tf_versions }}
      k8s_versions: ${{ steps.setup.outputs.k8s_versions }}
    steps:
      - name: Setup
        id: setup
        run: |
          set -euo pipefail

          tf_versions="$(curl -s https://endoflife.date/api/terraform.json | jq -rc '[sort_by(.releaseDate) | reverse | .[0:4] | .[].latest]')"

          {
            echo "tf_versions=${tf_versions}"
          } >> "${GITHUB_OUTPUT}"

  test:
    name: Test
    needs:
      - build
      - generate
      - matrix
    runs-on: ubuntu-latest
    permissions:
      contents: read
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        tf_version: ${{ fromJson(needs.matrix.outputs.tf_versions) }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache: false

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ matrix.tf_version }}
          terraform_wrapper: false

      - name: Terraform Path
        id: tf
        run: |
          set -euo pipefail

          echo "path=$(command -v terraform || true)" >> "${GITHUB_OUTPUT}"

      - name: Go mod download
        run: go mod download

      - name: Test
        env:
          TF_ACC: "1"
          TF_ACC_PROVIDER_NAMESPACE: terr4m
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.tf_version }}
          TF_ACC_TERRAFORM_PATH: ${{ steps.tf.outputs.path }}
        run: go test -v -timeout 120m -cover ./...

  check:
    name: Check
    needs:
      - build
      - generate
      - test
    if: always()
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check
        run: |
          set -euo pipefail

          results=( ${{ join(needs.*.result, ' ') }} )

          for result in "${results[@]}"; do
            if [[ "${result}" == "failure" ]] || [[ "${result}" == "cancelled" ]]; then
              echo "::error::Workflow failed!"
              exit 1
            fi
          done
